@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


  .hr-lines{
    border: 1px solid blue;
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
    text-align: center;
  }

  .hr-lines hr{
    border-bottom: 1px dotted gray;
    width: 42%;
    height: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    
  }

  .hr-lines span{
    font-family: Poppins;
    font-size: 30px;
  }